# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

#firebaseConfig (process.env returning undefined)
src/dbconfig.ts
src/mailerCredentials.ts
